@{
    ViewData["Title"] = "About";
}

<header>
    <nav id="navbar">
        <div class="container">
            <h1 class="logo"><a href="@Url.Action("Index", "Home")">HFT</a></h1>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a class="current" href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                <li><a href="@Url.Action("Privacy", "Home")">Privacy</a></li>
            </ul>
        </div>
    </nav>
</header>

<section id="about-info" class="bg-light py-3">
    <div class="container">
        <div class="info-left">
            <h1 class="l-heading"><span class="text-primary">About</span> Hotel BT</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis illo, similique labore voluptate nulla animi dolorum eius laborum illum, nesciunt quod reprehenderit dicta autem vel nobis minima sit deleniti!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A velit voluptatem impedit voluptate. Doloribus, voluptas dolore! Cupiditate aliquid sequi deserunt.</p>
        </div>
        <div class="info-right">
            <img src="~/img/photo-2.jpg" alt="hotel">
        </div>
    </div>
</section>

<section id="testimonials" class="py-3">
    <div class="container">
        <h2 class="l-heading">What Our Guests Say</h2>
        <div class="testimonial bg-primary">
            <img src="~/img/person-1.jpg" alt="Samantha">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti eum incidunt, velit non consectetur. Facere, ipsa maxime, ullam id amet odio laboriosam sit iusto tempore fugit exercitationem, a dolore quo maiores nisi!</p>
        </div>

        <div class="testimonial bg-primary">
            <img src="~/img/person-2.jpg" alt="Jen">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi quibusdam, dolorum maxime cum numquam quisquam, deleniti eum incidunt, velit non consectetur. Facere, ipsa maxime, ullam id amet odio laboriosam sit iusto tempore fugit exercitationem, a dolore quo maiores nisi!</p>
        </div>
    </div>
</section>

<footer id="main-footer">
    <p>HotelFlightMVC &copy; @DateTime.Now.Year, All Rights Reserved</p>
</footer>
